.label-login {
    font-size: 25%;
    text-align: center;
    color: #fff;
    margin-top: 4%;
}

.buscar-comercio {
    width: 80%;
    margin-bottom: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.siguiente {
    border-width: 2;
    border-style: solid;
    border-color: #f3ce5c;
    color: #f3ce5c;
    width: 42%;
    font-size: 20%;
    text-align: center;
    height: 35%;
    margin-left: 30%;
}

.down-arrows {
    width: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.logo-siguiente {
    width: 10%;
    margin-left: 5%;
}

.banner-footer {
    width: 60%;
    margin-top: 8%;
}